
.task-field{
  display: flex;
  flex-direction: column;
  /* width: 50%; */
 margin-left: 280px;
 margin-right: 280px;
 margin-top: 20px;
 margin-bottom: 20px;
 
  
}
.container{
  
  width: 100%;
}

h5{
  margin-top:8px;
  margin-bottom: 8px;
}

input{
  height:30px;
  margin-bottom: 4px;
  margin-right: 8px;
 
  }

  button{
    width: 15%;
    height:30px;
    margin-top: 8px;
    background-color: rgb(209, 230, 198);
    border-radius: 1px;
    border-width: 1px;
  }
  
.spinner{
  width:80%
}

.row{
  display: flex;
 
  
}

 .body{
  font-family: sans-serif;
 }

 .field{
  padding: 8px;
  margin-bottom: 16px;
  width: 100%;
 }

 .addBtn{
  color: rgb(19, 201, 19);
 }

 .deleteBtn{
  margin-top: 7px;
  color: rgb(205, 7, 7);
 }